<form action="/todos" method="POST">
  <li class="list-group-item">
    <div class="inner-container">
      <div class="id-info">
        <input type="text" class="form-control" placeholder="name" name="name">
      </div>
      <div class="feature">
        <button type="submit"><i class="fas fa-plus-square"></i></button>
        <a href="/"><i class="fas fa-backward"></i></a>
      </div>
  </li>
</form>